<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silk.mapper.UserMapper">

	<resultMap type="com.silk.entity.User" id="User">
		<id column="id" property="id"/>
		<result column="user_pwd"  property="userPwd"/>
		<result column="user_name"  property="userName"/>
		<result column="gender"  property="gender"/>
		<result column="phone"  property="phone"/>
		<result column="email"  property="email"/>
		<result column="room_id"  property="roomId"/>
		<result column="user_type"  property="userType"/>
		<!-- 宿舍信息（查询时JOIN展示） -->
		<result column="b_building_name" property="buildingName"/>
		<result column="r_brand" property="roomBrand"/>
		<result column="r_floor" property="roomFloor"/>
	</resultMap>

	<insert id="create" parameterType="com.silk.entity.User">
		insert into tb_user(
		    id,
			user_pwd,
			user_name,
			gender,
			phone,
			email,
			room_id,
			user_type
		)values(
		    #{id},
			#{userPwd},
			#{userName},
			#{gender},
			#{phone},
			#{email},
			#{roomId},
			#{userType}
		)
	</insert>

	<select id="query" resultMap="User">
		select u.*,
		       b.building_name as b_building_name,
		       ro.brand as r_brand, ro.floor as r_floor
		from tb_user u
		left join tb_room ro on u.room_id = ro.id
		left join tb_building b on ro.building_id = b.id
		<include refid="UserFindCriteria"/>
	</select>

	<select id="count" resultType="int">
		select count(1) from tb_user u
		<include refid="UserFindCriteria"/>
	</select>

	<select id="detail" resultMap="User">
		select * from tb_user where id = #{id}
	</select>

	<delete id="delete">
		delete from tb_user where id = #{id}
	</delete>

	<update id="update">
		update tb_user set
			user_pwd=#{userPwd},
			user_name=#{userName},
			gender=#{gender},
			phone=#{phone},
			email=#{email},
			room_id=#{roomId},
			user_type=#{userType}
		where id = #{id}
	</update>

	<update id="updateSelective">
		update tb_user
		<set>
			<if test="userPwd != null and userPwd != ''"> user_pwd = #{userPwd},</if>
			<if test="userName != null and userName != ''"> user_name = #{userName},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="phone != null and phone != ''"> phone = #{phone},</if>
			<if test="email != null and email != ''"> email = #{email},</if>
			<if test="roomId != null">room_id = #{roomId},</if>
			<if test="userType != null">user_type = #{userType},</if>
		</set>

		where id = #{id}
	</update>

	<sql id="UserFindCriteria">
		<where>
			u.user_type != 2
			<if test="id != null">and u.id like concat('%', #{id},'%')</if>
			<if test="userPwd != null and userPwd != ''">and u.user_pwd = #{userPwd}</if>
			<if test="userName != null and userName != ''">and u.user_name like concat('%', #{userName},'%') </if>
			<if test="gender != null">and u.gender = #{gender}</if>
			<if test="email != null and email != ''">and u.email = #{email}</if>
			<if test="roomId != null">and u.room_id = #{roomId}</if>
			<if test="userType != null">and u.user_type = #{userType}</if>
		</where>
	</sql>


	<select id="login" resultMap="User">
		select * from tb_user where (user_name = #{userName} or id = #{userName}) and user_pwd = #{userPwd}
	</select>

	<update id="updatePwd">
		update tb_user set user_pwd = #{userPwd} where id = #{id}
	</update>


	<select id="queryLiverAmount" resultType="int">
		select count(1) from tb_user where room_id = #{roomId}
	</select>

	<select id="buildingActualStudentAmount" resultType="int">
		select count(1) from tb_user where room_id like concat(#{buildingId}, '____')
	</select>
</mapper>